.topbar {
  background-color: #3769a4;
  color: #ffffff;
}
.topbar a,
.topbar a:visited,
.topbar a:hover {
  color: #ffffff;
}
.topbar__menu {
  overflow: hidden;
}
.topbar__user-menu {
  float: right;
  display: inline-block;
  margin-top: 10px;
}
.topbar__site-menu {
  display: inline-block;
}
.topbar__logo {
  display: block;
  height: 47px;
}
.topbar__logo img {
  vertical-align: text-top;
}
.topbar__menu--user {
  float: right;
  display: inline-block;
}
.topbar__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topbar__menu-heading {
  text-transform: uppercase;
  font-size: 82%;
}
.topbar__menu-heading:after {
  content: "•";
  display: inline-block;
  padding: 0 0 0 7px;
}
.topbar__menu-item {
  display: block;
  float: left;
  line-height: 26px;
  margin-right: 7px;
}
